// Colors
$space-blue: #482ff7;
$space-red: #ff8080;
$saber-blue: #0000c9;
$eclipse: #2f2f2f;
$form: #f8f8f8;
$form-btn: #8f8f8f;
$becca: #663399;
$fb-blue: #4267B2;
$tweet-blue: #1DA1F2;
$pink: #E1306C;
$link-blue: #2867B2;
$red: #ff0000;

//Typography
$moon: 'moonhouse';
$galaxy: 'SF Distant Galaxy Outline';

//Mixins
@mixin newborder {
  border-radius: 5px;
}
