// Import partials here
@import "base.normalize";
@import "settings.variables";
@import "settings.responsive";
@import "components.content";

/*Landing Page Styling*/
.stars,
.twinkling {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.stars {
  z-index: 0;
  background: #000 url("/images/stars.png") repeat top center;
}

.twinkling {
  z-index: 1;
  background: transparent url("/images/twinkling.png") repeat top center;
  animation: move-twink-back 200s linear infinite;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
.jumbotron {
  position: absolute;
  top: 30%;
  width: 100%;
  z-index: 1;
  font-family: SF Distant Galaxy Outline;
  display: grid;
  place-items: center;
  background: #000 url("/images/stars.png") repeat top center;
  animation: move-twink-back 200s linear infinite;
}

.display-1,
.hero__runner {
  text-shadow: 4px 4px 5px #fff, 0 0 2px #fff, 0 0 2px #fff;
}

.btn {
  font-family: sans-serif;
}

/*Image Page Styling*/
.title__image {
	font-family: SF Distant Galaxy Outline;
	text-shadow: 4px 4px 5px $saber-blue, 2px 2px 2px $space-blue, 2px 2px 8px $space-blue;
	color: $becca;
}

.image__page {
  background-color: #000;
}
