// Import partials here
@import "base.normalize";
@import "settings.variables";
@import "settings.responsive";
@import "components.content";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");


.body {
  background-color: #000;
}

/*Landing Page Styling*/
.stars,
.twinkling {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  min-width: 100vw;
  // width: 100%;
  // height: 100%;
}

.stars {
  z-index: 0;
  background: #000 url("/images/stars.png") repeat top center;
}


.twinkling {
  z-index: 1;
  background: transparent url("/images/twinkling.png") repeat top center;
  animation: move-twink-back 200s linear infinite;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
.jumbotron {
  position: absolute;
  top: 30%;
  z-index: 1;
  font-family: SF Distant Galaxy Outline;
  display: grid;
  place-items: center;
  background: #000 url("/images/stars.png") repeat top center;
  animation: move-twink-back 200s linear infinite;
}

.display-1,
.hero__runner {
  text-shadow: 4px 4px 5px #fff, 0 0 2px #fff, 0 0 2px #fff;
}

.btn {
  font-family: sans-serif;
}

// Header
.hr_rule {
  border-top: 2px solid #fff;
}




.navbar-brand {
  font-family: SF Distant Galaxy Outline, 'monospace';
  color: $space-blue;
  text-shadow: 5px 5px 5px $space-red, 0 0 5px $space-blue, 0 0 2px $space-blue;
  font-family: $galaxy;
  transition: text-shadow 1s ease, color 2s ease, font-weight 2s ease,
    opacity 2s ease;
  &:hover {
    color: #fff;
  	text-shadow: 1px 1px 2px gold, 0 0 1rem yellow, 0 0 0.2rem yellow;
  	font-weight: 600;
  	border-radius: 8px;
  }
}
.nav-item {
  font-size: 1.5rem;
  border-radius: 8px;
  & .nav-link {
    color: $eclipse;
    &:hover{
      color: $saber-blue;
    }
  }
  &:hover {
    box-shadow: 3px 3px 3px $eclipse;
  }
}

// .dropdown-item {
//   &:hover {
//   color: $saber-blue;
//   }
// }

.navbar-toggler {
  border: 1px solid $space-blue;
  border-radius: 10px;
  box-shadow: -1px -1px 3px 1px $space-blue;
  & .navbar-toggler-icon {
    color: $saber-blue;
    width: auto;
  }
}
// Translator Page Styling
.main {
  background-color: #000;
}




/*Image Page Styling*/
.title__image {
  font-family: SF Distant Galaxy Outline;
  text-shadow: 4px 4px 5px $saber-blue, 2px 2px 2px $space-blue,
    2px 2px 8px $space-blue;
  color: $becca;
}
.image__page {
  background-color: #000;
}
.gallery__image {
}

// Footer animation
.footer__contact {
  letter-spacing: 0.2rem;
}
.footer__contact_link {
  text-decoration: none;
  &:hover {
    font-size: 1.1rem;
  }
}
.icons a {
  margin: 0 16px;
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
}
.icons a .layer {
  width: 2.5rem;
  height: 2.5rem;
  transition: transform 0.3s;
}
.icons a:hover .layer {
  transform: rotate(-35deg) skew(20deg);
}
.icons a .layer span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 5px solid #fff;
  border-radius: 30px;
  transition: all 0.3s;
}
.icons a .layer span.fab {
  font-size: 0.8rem;
  line-height: 2.5rem;
  text-align: center;
  animation: pulse 700ms infinite;
}
.icons a:hover .layer span:nth-child(1) {
  opacity: 0.2;
  width: 2.2rem;
  height: 2.2rem;
}
.icons a:hover .layer span:nth-child(2) {
  opacity: 0.4;
  transform: translate(5px, -10px);
  width: 2.4rem;
  height: 2.4rem;
}
.icons a:hover .layer span:nth-child(3) {
  opacity: 0.6;
  transform: translate(10px, -20px);
  width: 2.6rem;
  height: 2.6rem;
}
.icons a:hover .layer span:nth-child(4) {
  opacity: 0.8;
  transform: translate(15px, -35px);
  width: 2.8rem;
  height: 2.8rem;
}
.icons a:hover .layer span:nth-child(5) {
  opacity: 1;
  transform: translate(20px, -50px);
  background-color: #000;
  width: 3rem;
  height: 3rem;
  &.fab {
    font-size: 1.5rem;
    line-height: 3rem;
  }
}
.icons a:nth-child(1) .layer span,
.icons a:nth-child(1) .text {
  color: #4267b2;
  border-color: #4267b2;
}
.icons a:nth-child(2) .layer span,
.icons a:nth-child(2) .text {
  color: #1da1f2;
  border-color: #1da1f2;
}
.icons a:nth-child(3) .layer span,
.icons a:nth-child(3) .text {
  color: #e1306c;
  border-color: #e1306c;
}
.icons a:nth-child(4) .layer span,
.icons a:nth-child(4) .text {
  color: #2867b2;
  border-color: #2867b2;
}
.icons a:nth-child(5) .layer span,
.icons a:nth-child(5) .text {
  color: #ff0000;
  border-color: #ff0000;
}
.icons a:hover:nth-child(1) .layer span {
  box-shadow: -1px 1px 3px #4267b2;
}
.icons a:hover:nth-child(2) .layer span {
  box-shadow: -1px 1px 3px #1da1f2;
}
.icons a:hover:nth-child(3) .layer span {
  box-shadow: -1px 1px 3px #e1306c;
}
.icons a:hover:nth-child(4) .layer span {
  box-shadow: -1px 1px 3px #2867b2;
}
.icons a:hover:nth-child(5) .layer span {
  box-shadow: -1px 1px 3px #ff0000;
}
.icons a .text {
  position: absolute;
  left: 50%;
  bottom: -5px;
  opacity: 0;
  font-weight: 500;
  transform: translateX(-50%);
  transition: bottom 0.3s ease, opacity 0.3s ease;
}
.icons a:hover .text {
  bottom: -35px;
  opacity: 1;
  text-shadow: 2px -2px 2px #888;
}

@keyframes pulse {
  0% {
    border: 1px solid;
    box-shadow: 3px 0px 15px 1px;
  }
  10% {
    border: 1px solid;
    box-shadow: 2px 0px 15px 1px;
  }
  20% {
    border: 1px solid;
    box-shadow: 1px 2px 15px 1px;
  }
  30% {
    border: 1px solid;
    box-shadow: 0px 4px 15px 1px;
  }
  40% {
    border: 1px solid;
    box-shadow: -1px 6px 15px 1px;
  }
  50% {
    border: 1px solid;
    box-shadow: -2px 2px 15px 1px;
  }
  60% {
    border: 1px solid;
    box-shadow: -3px 0px 15px 5px;
  }
  70% {
    border: 1px solid;
    box-shadow: -2px -2px 15px 1px;
  }
  80% {
    border: 1px solid;
    box-shadow: -1px 0px 15px 1px;
  }
  90% {
    border: 1px solid;
    box-shadow: 0px 0px 15px 1px;
  }
  100% {
    border: px solid;
    box-shadow: 0px 0px 15px 1px;
  }
}
